version: "3"

services:
  {{ worker_container }}:
    image: mojdigitalstudio/redis-s3-sync
    entrypoint: ["sh", "worker.sh"]
    environment:
      - REDISTOGO_URL=redis://{{ redis_host }}:{{ redis_port }}
      - LOG_GROUP={{ log_group }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
