[Unit]
Description={{ worker_container }} service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ worker_dir }}

Restart=always
ExecStartPre=/usr/bin/docker-compose down

# Compose up
ExecStart=/usr/bin/docker-compose up --scale {{ worker_container }}={{ worker_count }}

# Compose down, remove containers
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
