[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ansible-lint = "==4.2.0"
pylint = "*"
autopep8 = "*"
py = ">=1.10.0"
ansible = ">=2.10.0"
PyYAML = ">=5.4"
jinja2 = ">=2.11.3"
cryptography = ">=3.2"

[packages]
molecule = {extras = ["ec2"],version = "*"}
boto3 = "*"

[requires]
python_version = "3.9"
